.Expander {
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

.Expander--Header {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.Expander--Body {
  transition: all 0.5s ease;
  overflow: hidden;
}

.Expander[data-open="true"] .Expander--Body {
  height: 400px;
  transition: height 0.5s;
  overflow-y: scroll;
}

.Expander[data-open="false"] .Expander--Body {
  height: 98px;
  transition: height 0.5s;
}